$white-color: #fff;
$yellow-color: #FCB72B;
$dark__navy-color: #495567;
$dim__grey-color: #939CAA;
$light__grey-color: #E5ECF4;
$show-color: #F2F5F9;
$light__yellow-color: #FFF4DF;
$dark__grey-color: #333A44;